<td class="table-division">
    <div><img src="{{this.image}}" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
    <div>{{this.name}}</div>
</td>
<td class="table-division">
    <div>${{this.price}}</div>
</td>
<td class="table-division">
    <a href="/prod-edit/{{this._id}}" data-id-beer="{{this._id}}"><i class="fa fa-edit table-icon"></i></a>
</td>
<td class="table-division">
    <a href="/prod-delete/{{this._id}}" data-id-beer="{{this._id}}" aria-hidden="true"><i
            class="fa fa-trash table-icon"></i></a>
</td>