<div class="manage-products-wrapper">
    <h3 class="manage-products-title">Manage your products catalog</h3>
    <div class="manage-products-wrapper-table">
        <table class="content-table">
            <thead>
                <tr class="table-row">
                    <th class="table-head" align="center">
                        <p>Product Image</p>
                    </th>
                    <th class="table-head">
                        <p>Product Name</p>
                    </th>
                    <th class="table-head">
                        <p>Product Category</p>
                    </th>
                    <th class="table-head">
                        <p>Product Price</p>
                    </th>
                    <th class="table-head">
                        <p>Product Quantity</p>
                    </th>
                    <th class="table-head">
                        <p>Product Description</p>
                    </th>
                    <th class="table-head">
                        <p>Product Reviews</p>
                    </th>
                    <th class="table-head">
                        <p>Edit</p>
                    </th>
                    <th class="table-head">
                        <p>Delete</p>
                    </th>
                </tr>
            </thead>

            <tbody>
                {{#each products}}
                <tr class="table-row">
                    {{> dashboard_product_row}}
                </tr>
                {{/each}}

                {{#unless products}}
                <tr>
                    <td colspan="9">sorry no beers yet</td>
                </tr>
                {{/unless}}
            </tbody>
        </table>
    </div>
</div>

<br>



<div class="manage-products-wrapper-table">
    <h3 class="manage-products-title">Manage your pending orders</h3>
    <div class="manage-products-wrapper-table">
        <table class="content-table">
            <thead>
                <tr class="table-row">
                    <th class="table-head" rowspan="2">
                        <p>Client's full name</p>
                    </th>
                    <th class="table-head" rowspan="2">
                        <p>Adresss</p>
                    </th>
                    <th class="table-head" colspan="2">
                        <p>Order</p>
                    </th>
                </tr>
                <tr class="table-row">
                    <th class="table-head">
                        <table>
                            <tr>
                                <th align="left">Product</th>
                                <th align="right">Quantity</th>
                            </tr>
                        </table>

                    </th>
                </tr>
            </thead>

            <tbody>
                {{#each pending}}

                <tr class="table-row">
                    <td class="table-division">
                        <p> {{this.user.firstName}} {{this.user.lastName}}</p>
                    </td>

                    <td class="table-division">
                        <p>{{this.user.address.street_number}} {{this.user.address.route}},
                            {{this.user.address.postal_code}}, {{this.user.address.locality}}</p>
                    </td>


                    <td class="table-division">
                        <table>
                            {{#each this.cartId}}
                            <tr>
                                <th align="left">{{this.productId.name}}</th>
                                <th align="right">{{this.quantity}}</th>
                            </tr>
                            {{/each}}
                        </table>
                    </td>

                </tr>


                {{/each}}

                {{#unless pending}}
                <tr>
                    <td colspan="3">No order yet</td>
                </tr>
                {{/unless}}

            </tbody>
        </table>

    </div>

</div>