<a href="/collection">
        <p><i class="fas fa-directions"></i> All Products</p>
</a>
<div class="one-product-container">
        {{#with product}}
        {{!-- <form action="/shoppingcart/{{this._id}}" method="post"> --}}
                {{!-- <form action="/collection/{{this._id}}" method="post"></form> --}}
                <div>
                        <label for="cart-quantity">quantity</label>
                        <input id="cart-quantity" type="number" min="1" value="1" name="quantity" required
                                class="input-shopping {{this._id}}">
                </div>
                <button class="btn-shopping">Add to cart</button>
                <a href="/profile/wishlist">Add to wishList</a>

                {{!--
        </form> --}}

        {{> item_mini}}

        <h1>Reviews: </h1>
        {{#unless this.reviews}}
        <p>No reviews</p>
        {{/unless}}
        <ul>
                {{#each this.reviews}}
                <li>
                        <p>{{this.userId.name}}: <span>:: {{this.comment}}</span></p>
                        <p>{{{stars this.rate}}}</p>

                </li>
                {{/each}}
        </ul>


        {{/with}}
</div>