<div class="one-product-main-container">
        <a id="all-products-collection" href="/collection">
                <p><i class="fas fa-directions"></i> All Products</p>
        </a>

        <div class="one-product-container">


                {{#with product}}


                {{> item_mini}}
                <div class="reivews-addTocart">
                        <div class="one-product-review">

                                <h1>Reviews: </h1>
                                {{#unless this.reviews}}
                                <p>No reviews</p>
                                {{/unless}}
                                <ul>
                                        {{#each this.reviews}}
                                        <li>
                                                <p>{{this.userId.firstName}}: <span>:: {{this.comment}}</span></p>
                                                <p>{{{stars this.rate}}}</p>

                                        </li>
                                        {{/each}}
                                </ul>
                        </div>

                        <div class="one-product-sidebar">
                                <label for="cart-quantity" class="cart-quantity-label"></label>Choose the quantity to
                                add to
                                cart</label>
                                <input id="cart-quantity" type="number" min="1" value="1" name="quantity" required
                                        class="input-shopping {{this._id}}" data-shopping-id="{{this._id}}">

                                <button class="btn-shopping">Add to cart</button>
                                <button id="btn-wishlist" data-wishlist-id="{{this._id}}">Add to my wishList</button>
                                <p id="displayMessage"></p>

                        </div>

                        {{/with}}
                </div>


        </div>
</div>