<div class="manage-products-wrapper wishlist-products-wrapper">
    {{#if user}}

    <p>{{message}}</p>
    <h3 class="manage-products-title">Your wishlist</h3>
    <table class="content-table wishlist-table">
        <thead>
            <tr class="table-row">

                <th class="table-head" align="center">Product</th>

                <th class="table-head">Beer Name</th>
                <th class="table-head">Price</th>
                {{!-- <th class="table-head">Subtotals</th> --}}
                <th class="table-head ">Remove from my wishlist </th>
            </tr>
        </thead>
        <tbody>
            {{#each user.wishlists}}
            <tr class="table-row table-added-products">

                <td class="table-division">
                    <div align="center"><img src={{this.image}} alt="{{this.name}}" class="table-image"></div>
                </td>


                <td class="table-division">
                    <div>{{this.name}}</div>
                </td>

                <td class="table-division">
                    <div>{{this.price}}</div>
                </td>

                <td class="table-division delete-wishlist">
                    <div><a href="/user/wishlist/product-delete/{{this._id}}" class="btn-wishlist-delete"
                            data-delete-wishlist-id="{{this._id}}"><i class="fas fa-trash-alt"></i></a></div>
                </td>
            </tr>

            {{/each}}
            {{#unless user.wishlists}}
            <tr class="table-row">
                <td colspan="4">you have not added any beer to your wishlist yet</td>
            </tr>
            {{/unless}}


        </tbody>
    </table>



    {{else}}
    <p>You need to log in to see your wishlist</p>
    <a href="/auth/login">GO TO MY WISHLIST</a>
    {{/if}}
</div>
