<td class="table-division" align="center" >
        <div><img src="{{this.image}}" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
        <div>{{this.name}}</div>
</td>

<td class="table-division">
        <div>{{this.category}}</div>
</td>

<td class="table-division">
        <div>${{this.price}}</div>
</td>

<td class="table-division">
        <div>{{this.quantity}}</div>
</td>

<td class="table-division description-cell">
        <div>
                <p class="less" >{{{trimString this.description 0 50}}}</p>
                <p class="full" style="display:none">{{this.description}}</p>
                <a class="see-more"><i class="fas fa-angle-double-right"></i></a>
        </div>

</td>

<td class="table-division">
        <div>
                {{average this.reviews}}

        </div>
</td>

<td class="table-division">
        <a href="/dashboard/product-edit/{{this._id}}" data-id-product="{{this._id}}"><i
                        class="fas fa-user-edit"></i></a>
</td>
<td class="table-division">
        <a href="/dashboard/product-delete/{{this._id}}" data-id-product="{{this._id}}" aria-hidden="true"><i
                        class="fas fa-trash-alt"></i></a>
</td>