<a href="/collection/{{this._id}}" class="product-item-wrapper">
        <div class="product-img">
                <img src="{{this.image}}" alt="{{this.name}}">
        </div>
        <div class="product-info">
                <p class="product-name">{{this.name}}</p>
                <p class="product-cat">Category: {{this.category}}</p>
                <p class="product-price">Price: $ {{this.price}}</p>
        </div>
        <p>{{rate}}</p>
        <p class="product-description">{{this.description}}</p>

</a>